#hidden{
    display: none;
}
#unhidden{
    display: contents;
    background-color: black;

}

.answer{
    display: flex;
    position: fixed;
    bottom: 10%;
    left: 0;
    right: 0;
    font-size: 2em;
}
body {
    display: flex;
    flex-flow: row wrap;
    color:yellow;
    font-size: 1.5em;
    font-family: 'Libre Franklin', sans-serif;

    background-size: 100vmax;
    background-image: url(stars.jpg);
}

.question{
    color:aqua
}

header{
    width: 100vw;
    text-align: center;}

    #timer{
        justify-content: center;
    }

    main{
        width: 100vw;
        text-align: center;}
        #timer{
            justify-content: center;
        }

        .start-button{
            font-size: 1.25em;
            color: cyan;
            background: none;
            border: none;
        }

        .timer{
            font-size: 1.25em;
            border: none;
            color: cyan;
            background: none;
        }

        .que {
            font-size: 1.25em;
            width: 100vw;
            justify-content: center;
            background: none;
            border: none;
            color: yellow;
        }

        .ans{
 
            width: 100vw;
            justify-content: center;

            border: none;
            background: none;
            color: cyan;
        }




        .initials{
            border-radius: 2px;
            border-color: azure;

        }