*{
    background-color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    background-size: cover;
background-image: url(stars.jpg);
border-radius: 100px;
}

#start-button {
  width: 5em;
  height: 5em;
  background: transparent;
}

.timer{
  background: transparent;
}
body{
display: flex;
flex-flow: column wrap;
background: transparent;

}
header {
    padding: 20px;
    text-align: center;
    color: #fff;
    border-bottom:30px #879274;
    background: transparent;
  }
  #start-button{
    padding:20px;
    text-align: center;
    background: transparent;
  }
  .timer{
    padding:20px;
    text-align: center;
    background: transparent;
  }
h2{
  background: none;
  display: flex;
  background: transparent;
}
.main {
  width: 10%;
}