*{
    background-color: steelblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body{
display: flex;
flex-flow: column wrap;
}
header {
    padding: 20px;
    text-align: center;
    color: #fff;
    border-bottom:30px #879274;
  }
  #start-button{
    padding:20px;
    text-align: center;
  }
  .timer{
    padding:20px;
    text-align: center;
  }
h2{
  display: none;
}